/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    height: 100vh;
}
/* COMMON */
.list-inline {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}
.list-inline  li {
    margin: 0 5px 0 0;
}
.list-inlin li *{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
/* TIPOGRAPHY */
*{
    color: white;
}
/* HEADER */
header{
    height: 30px;
    text-align: right;
    padding:2px 5px;
}
.speaker-view,.wide-screen{
    background-color: #4A4A4A;
    border: none;
    border-radius: 5px;
    color: white;
    padding:5px;
}
.speaker-view,.wide-screen:hover{
    cursor: pointer;
}
/* MAIN */
main {
    padding-top: 40px;
    height: calc(100% - 120px);
    background-color: #000;
    width: 90%;
    margin: auto;
    overflow-y: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100%/7 - 6px);
    margin:3px;   
}
.user-video{
    display: block;
    position: relative;
}
.caption{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.user-image{
    width: 100%;
}
/* FOOTER */
footer{
    display: flex;
    align-items: center;
    height: 90px;
    background-color:#222222;
}
.btn{
    position: relative;
    background-color: #000;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
.end-btn,.btn>*,.btn:hover{
    cursor: pointer;
}
.audio-video,.end-btn{
    width: 10%;
}
.btn>*{
    background-color: transparent;
}
.general{
    width: 80%;
    justify-content: center;
}
.general>*{
    padding:5px;
}
.end-btn{
    color: red;
    background-color: rgba(0, 0, 0, 0.5);  
    align-self: stretch; 
}